%h4= 'Добавление нового аттрибута'
= simple_form_for :property, url: new_metadata_category_property_path(@category), method: :get do |f|
  = f.input :kind, as: :select, collection: Property.kind.options, include_blank: true, selected: nil, input_html: { class: 'js-properties-types' }

  = f.submit 'Добавить', class: 'btn btn-success'
