- category.children.each do |child|
  %li{data: {id: child.id}, class: "js-child"}= "#{link_to child, metadata_category_category_path(category, child)} | #{link_to 'Редактировать', edit_metadata_category_category_path(category, child), class: "js-link-to-edit", :"data-id" => child.id,  remote: true} | #{link_to 'Удалить', metadata_category_category_path(category, child), data: {confirm: 'Вы уверены?'}, class: "js-link-to-destroy", remote: true, method: :delete}".html_safe
