.row
  .col-xs-10
    %h1='Управление категориями'

    %h3='Категории'
    %ul
      - @categories.each do |category|
        %li
          = link_to category, metadata_category_path(category)
          %span.glyphicon.glyphicon-plus.js-handle-hidden
          = recursive_children(category)
    %p= link_to 'Главная страница', root_path

  .col-xs-2
    = link_to t('categories.new'), new_metadata_category_path(remote: false), class: 'btn btn-default'
