*.pid
*.sql
*.swp
.DS_Store
.sass-cache/
/.bundle
/config/database.yml
/config/deploy.yml
/config/sape.yml
/config/secrets.yml
/config/settings.yml
/config/sunspot.yml
/db/*.sqlite3
/log/*.log
/log/*.log.lck
/log/sunspot-solr-development.log*
/public/assets
/public/faye
/public/system
/public/cache
/public/sitemap.xml
/public/yandex
/sape
/solr/data
/solr/pids
/tmp
clear_logs.rb
segments_1
erd.pdf
dump.rdb
.idea
/contest_templates
*.swp
*~
/solr
*.swn
