<!-- f.object - значение -->

= f.input :hierarch_list_item_parent_id,
  label: f.object.property.title,
  as: :select,
  collection: f.object.property.hierarch_list_items,
  input_html: { class: 'js-get-list-items-parent' },
  :selected => params[:action] == 'edit' ? f.object.hierarch_list_item.parent.id : nil,
  :include_blank => true
= f.input :hierarch_list_item_id,
  label: false,
  as: :select,
  collection: params[:action] == 'new' ? [1,2,3] : f.object.hierarch_list_item.parent.children,
  input_html: params[:action] == 'new' ? { class: 'js-get-list-items-children hidden' } : { class: 'js-get-list-items-children' },
  :selected => params[:action] == 'edit' ? :hierarch_list_item_id : nil
