<!-- f.object - категория -->

= f.input :list_item_id,
  label: f.object.property.title,
    label_html: f.object.errors.size != 0 ? {:class => "label-error"} : {:class => ""},
    error: false,
    as: :select,
    collection: f.object.property.list_items,
    input_html: { class: f.object.errors.size.zero? ? nil : "input-error" }
