= f.input :list_item_ids,
  label: f.object.property.title,
  label_html: f.object.errors.size != 0 ? {:class => "label-error"} : {:class => ""},
  as: property_show_as(f.object, @advert.category.id),
  collection: f.object.property.list_items
