= f.input :list_item_ids,
  label: f.object.property.title,
  label_html: f.object.errors.size != 0 ? {:class => "label-error"} : {:class => ""},
  as: :check_boxes,
  collection: f.object.property.list_items
