- if @advert
  = render partial: 'form'
- else
  %h1= t('categories.choose')
  - @categories.each do |category|
    %p= link_to category, [:new, :my, :advert, category_id: category]
%p= link_to 'Вернуться', my_adverts_path
