%p= render_breadcrumbs

- if @categories
  %h3= t('categories.choose')
  - @categories.each do |category|
    %p= link_to category, [:new, :my, :advert, category_id: category]
- else # @advert.presence
  = render partial: 'form'
